body {
    font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
    font-size: .75rem;
    padding: 5px;
    padding: auto;
}

header {
    border-bottom: 2px solid transparent;
    border-bottom-color: #f2f2f2;
    background-color: #fff;
    padding-top: 2px;
    font-size: 12px;
}

.main {
    max-width: 1140px;
    margin: auto;
    padding: 1rem;

}

.menu-t {
    margin-right: 0;
}

.menu-t ul {
    margin-top: 7px;
    margin-bottom: 9px;

}

.menu-t ul li {
    display: inline;
    margin: auto;
    color: black;
}

.menu-t-right {
    float: right;
    padding-right: 40px;
}

.menu-t-right li {
    padding-left: 10px;
}

.m-t-r-l {
    padding-left: 10px;
}

.search-form {
    padding: 8px 0px 7px 0px;
    border-bottom: 2px solid #f6f6f6;
}

.img-logo-search {
    margin-left: 16px;
    padding-top: 15px;
}

.p-what, .p-where, .p-what-des, .p-where-des {
    color: #4b4b4b;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding-left: 18px;
}

.inp-what-wrapper input, .inp-where-wrapper input {
    width: 100%;
}

.adv-jobs-s {
    display: inline;
}

.inp-what-wrapper input, .inp-where-wrapper input {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border-color: #ccc !important;
    border: solid 2px;
}

.col-search {
    padding: 10px;
}

.find-jobs-button button {
    margin-top: 30px;
    background-color: #085ff7 !important;
    border-color: #085ff7 !important;
    color: white;
    border-radius: 20px;
    height: 42px;
    width: 120px;
    border: solid 1px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.find-jobs-button {
    text-align: left;
}

.adv-jobs-s a {
    margin-left: 10px;
    color: #767676;
    padding-right: 20px;
}
.sb-sort
{
    margin-top: 20px;
}
.refineresultes
{
    margin-left: 30px;
    padding-right: 30px ;
    padding-top: 20px;

}
.refineresultes span
{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.refineresultes ul
{
    line-height: 25px;
    font-size: 13px;
    list-style-type: none;
    padding-left: 0px;
}
.sb-search
{
    padding-right: 0px;
}
.create-cv-hd span
{
    font-weight: 700;
    color: #2164f3;
}
.create-cv-hd p
{
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}
.create-cv-hd
{
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #f6f6f6;
    border-left: 2px solid #f6f6f6;
}
.cr-cv-mid
{
    padding-left: 0px;
}
.search-results
{
    padding-left: 20px;
    padding-top: 10px;
    border-left: 2px solid #f6f6f6;
}
.jobs-title a
{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.company-name,.job-salary
{
    color: #4b4b4b !important;
    font-size: 14px;
}
.job-des,.job-status,.job-more-detail
{
    font-size: 12px;
    padding: 3px;
}
.job-status span
{
    color: #e03400 !important;
}
.job-more-detail ul li
{
    display: inline;
    padding-left: 5px;

}
.job-more-detail ul
{
    padding: 0px;
}
.search-results-detail:hover
{
    background-color: #f6f6f6;
}
.job-detail-form-detail
{
    padding-top: 24px;
    padding-left: 20px;
}
.rcm-jobs
{
    border-top: 2px solid #f6f6f6 ;
    padding-top: 20px;
    padding-bottom: 20px;
}
.rcm-jobs ul li
{
    display: inline;
    padding-left: 30px;
}
.rcm-jobs ul a:first-child
{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.li-red
{
    color: #e03400;
}
.s-m-p ul li{
    display: inline;
    font-size: 18px;
    margin-left: 5px;
    font-weight: bold;
}
.s-m-p ul
{
    padding-left: 0px;
}
.job-detail-tab
{
    background-color:#f6f6f6 ;
}
.job-detail-form-detail
{
    margin-top: 20px;
    max-width: 440px;
    background-color: white;
    padding-bottom: 20px;
    border-top: 8px solid #ffca4f !important ;
    border-bottom: 1px solid #CCC !important;
}
.job-detail-form-top
{
    height: 50%;

}
.job-detail-form-bottom
{
    height: 50%;

}
.j-d-f-t-title
{
    color: #000;
    line-height: 20px;
    font-size: 18px;
    font-weight: 700;

}
.j-d-f-t-company,.j-d-f-t-salary
{
    font-size: 15px;
    line-height: 20px;
}
.j-d-f-t-button
{
    margin-top: 20px;
}
.btn-apply
{
    width: 176px;
    height: 45px;
    border-radius: 100px;
    background-color: #ff5a1f;
    border: 1px solid #ff5a1f;
}
.btn-apply p{
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding-top: 5px;
}
.btn-save-jobs
{
    width: 210px;
    height: 45px;
    border-radius: 100px ;
    border: 2px solid #085ff7 !important;
    background-color: white;
    margin-left: 20px;
}
.btn-save-jobs p{
    color: #085ff7 !important;
    font-weight: 700;
    font-size: 20px;
    padding-top: 5px;
}
.job-detail-form-top-span
{
    color: #666666;
    font-size: 12px;
    line-height: 17px;
    margin-top: 5px;
}
.job-detail-form-bottom
{
    margin-top: 20px;
    background-color: white;
}
.job-detail-form-bottom
{
    border-top: 1px solid #ccc;
    height: 103px;
    overflow-x: auto ;
    margin: auto;

}
.job-detail-form-bottom p
{
    font-weight: bold;
    font-size: 15px;
}
.job-detail-form-bottom ul li{
    font-size: 15px;
}
footer
{
    border-top: 1px solid #f6f6f6;
}
footer ul li
{
    display: inline;
    margin-left: 5px;
    color: #000;
}
footer ul,footer p{
    padding-left: 20px;
}
.m-contain,.r-footer,.row-search-form
{
    margin-right: 0;
}

@media screen and (max-width: 1024px) {
    .job-detail-form-detail
    {
        text-align: center;
    }
    .btn-save-jobs
    {
        margin-left: 0;
        margin-top: 10px;
    }
    .job-detail-form-detail
    {
        padding-left: 0px;
    }

}
@media screen and (max-width: 768px) {
    .logo-search
    {
        text-align: center;
    }
    .col-search
    {
        text-align: center;
    }
    .inp-where-wrapper input,.inp-what-wrapper input
    {
        width: 80%;
        text-align: center;
    }
    .find-jobs-button
    {
        text-align: center;
    }
}
@media screen and (max-width: 425px) {
    .cr-cv-mid{
        text-align: center;
    }
    .sidebar-search,.job-detail-tab
    {
        display: none;
    }
    footer
    {
        text-align: center;
    }

}
@media screen and (max-width: 425px) {
    .rcm-jobs ul{
        padding: 0px;
    }
}





